Django==4.2.10
djangorestframework==3.14.0
django-allauth==0.57.0
django-storages==1.14.2
django-crispy-forms==2.0
crispy-bootstrap5==0.7
Pillow==10.0.0
python-dotenv==1.0.0
psycopg2-binary==2.9.6
whitenoise==6.5.0
gunicorn==21.2.0